.center-vertical {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.center-vertical ion-input {
  width: 90%;
  max-width: 400px;
}